IA6_1_2/Books_Persons_Clients/BooksClient/Service References/BooksService/books.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://books.ia5_1/" targetNamespace="http://books.ia5_1/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addBook" type="tns:addBook" />
  <xs:element name="addBookResponse" type="tns:addBookResponse" />
  <xs:element name="searchByISBN" type="tns:searchByISBN" />
  <xs:element name="searchByISBNResponse" type="tns:searchByISBNResponse" />
  <xs:element name="searchByPublisher" type="tns:searchByPublisher" />
  <xs:element name="searchByPublisherResponse" type="tns:searchByPublisherResponse" />
  <xs:element name="searchByTitle" type="tns:searchByTitle" />
  <xs:element name="searchByTitleResponse" type="tns:searchByTitleResponse" />
  <xs:complexType name="searchByPublisher">
    <xs:sequence>
      <xs:element minOccurs="0" name="publisher" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchByPublisherResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="book" type="tns:book" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="book">
    <xs:sequence>
      <xs:element minOccurs="0" name="authors">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="author" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="isbn" type="xs:string" />
      <xs:element minOccurs="0" name="pages" type="xs:int" />
      <xs:element minOccurs="0" name="publisher" type="xs:string" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
      <xs:element minOccurs="0" name="year" type="xs:int" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="addBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="book" type="tns:book" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addBookResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="book" type="tns:book" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchByTitle">
    <xs:sequence>
      <xs:element minOccurs="0" name="title" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchByTitleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="book" type="tns:book" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchByISBN">
    <xs:sequence>
      <xs:element minOccurs="0" name="isbn" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchByISBNResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="book" type="tns:book" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>